.collapsed {
    display: none;
}

.hidden {
  display: none;
}

.component-item {
    margin-top: 2;
    // background: #888;
    // color: white;
  
    display: grid;
    grid-template-columns: 42px auto 82px;
  }

  .components-tree li,ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  